/* Suas estilizações */

.content-wrap {
  width: 640px;
  margin: auto;
}

.content-wrap h1 {
  text-align: center;
  color: #5c4b9e;
  font-weight: bold;
}

.page-header{
  width: 100%;
  background-color: blue;
  margin-bottom: 50px;
}
.page-header h4{
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 16px;
}
.page-header h2{
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  margin-bottom: -4px;
}

.input-container{
  margin-top: 36px;
}
.main label{
  margin-left: 50px;
}
.main input{
  margin-right: 50px;
}

.sex-container{
  margin-top: 20px;
  margin-left: 20px;
}

.radio-container{
  border: 1px solid;
  border-radius: 10px;
  margin: 0px;
  width: 180px;
  margin-left:55px;
}

.radio-container div label{
  margin: 0px;
}

.radio-container div input{
  margin: 0px;
  margin-left: 16px;
}

.checkbox-container input{
  margin: 0px;
}
.checkbox-container label{
  margin: 0px;
}
.checkbox-container{
  margin-top: 40px;
  margin-left: 90px;
}

textarea{
  height: 100px;
  margin-top: 20px;
  width: 100%;
}

#hideable-container{
  margin-top: 20px;
  text-align: right;
  display: none;
}

.button{
  margin-top: 20px;
}