body{
  font-family: 'Heebo', sans-serif;
}

#page-header{
  margin-top: -10px;
  width: 100%;
  background-color: rgb(62, 62, 245);
}
#page-header h4{
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 16px;
}
#page-header h2{
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  margin-bottom: -4px;
}

.input-container{
  margin-top: 36px;
}
.main{
  margin: auto;
  width: 640px;
}
.main label{
  margin-left: 50px;
}
.main input{
  margin-right: 70px;
}

.sex-container{
  margin-top: 20px;
  margin-left: 20px;
}

.radio-container{
  border: 1px solid;
  border-radius: 10px;
  margin: 0px;
  padding-top: 2px;
  width: 180px;
  margin-left:55px;
}

.radio-container div label{
  margin: 0px;
}

.radio-container div input{
  margin: 0px;
  margin-left: 16px;
}

.checkbox-container input{
  margin: 0px;
}
.checkbox-container label{
  margin: 0px;
}
.checkbox-container{
  margin-top: 40px;
  margin-left: 90px;
}

.text{
  height: 100px;
  margin-top: 20px;
  width: 100%;
  outline: none;
  resize: none;
}

.readonly-textarea{
  height: 175px;
  margin-top: 20px;
  width: 100%;
  padding: 4px;
  resize: none;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #eeeeee;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  color: black;
  transition: all 0.4s;
  margin-bottom: 80px;
}

.readonly-textarea:hover{
  background-color: #d6daeb;
  border: 2px solid rgb(127, 125, 233);
}

#hideable-container{
  margin-top: 20px;
  text-align: right;
  display: none;
}

.button{
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
